body {
    font-family: 'Source Sans Pro', sans-serif;
    color: #404040;
    margin: 0;
    padding: 0;
}

/* Flex containers */

.intro,
.main-content {
    display: flex;
    flex-direction: column;
}

/* Typography */

h1 {
    font-size: 2.5rem;
    font-weight: 400;
    text-shadow: 0 2px #816fca;
}

h2 {
    font-size: 2.25rem;
    margin: .16em 0;
}

.beta-text { 
    font-weight: 900;
}

.subheading {
    color: #575757;
    font-weight: 900;
    margin-bottom: .5em;
}

p {
    font-size: 1.125rem;
    line-height: 1.35;
}

/* Intro */

.intro {
    justify-content: center;
    text-align: center;
    min-height: 250px;
    color: #fff;
    background-color: #9480e4;
}

/* Main content */

.main-content {
    align-items: center;
    padding: 2.5em 2em 0;
}

.img-main {
    width: 120px;
    border-radius: 50%;
}

/* Form */

/* Media queries */