body {
    font-family: 'Source Sans Pro', sans-serif;
    color: #404040;
    margin: 0;
    padding: 0;
}

/* Typography */

h1 {
    font-weight: 400;
}

.beta-text { 
    font-weight: 900;
}

.subheading {
    color: #575757;
    font-weight: 900;
}

/* Intro */

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    min-height: 250px;
    color: #fff;
    background-color: #9480e4;
}

/* Main content */

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 32px 0;
}

.img-main {
    width: 120px;
    border-radius: 50%;
}

/* Form */

/* Media queries */